*
{
    margin: 0;
    padding: 0;
    
}


#nav-bar mr-auto
{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img
{
    height: 60px;
    padding-left: 30px;
    width: 100px;
}

.navbar-nav li
{
    padding: 0 10px;
}

.navbar-nav li a
{
    float: right;
    text-align: left;
    color: #000;
}

#nav-bar ul li a:hover
{
    color: #3498db;
}

.navbar
{
    background: #fff;
}

.navbar-toggler
{
    border: none;
}

.nav-link
{
    color: black;
    font-weight: 600;
    font-size: 17px;
    
}

.col-sm
{
    padding: 20px;
    text-align: center;
    border-radius: 24px;
    border-color: #3498db;

}

.col-sm:hover
{
    color: #3498db;
}


.col-md-6 
{
    padding: 40px;

}

.container h1
{
    text-align: center;
    color: #3498db;
}




#otherDescriptions
{
    padding: 30px;
  
}

#otherDescriptions .col
{
    border-radius: 24px;
}