*
{
    margin: 0;
    padding: 0;
    
}


#nav-bar mr-auto
{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img
{
    height: 60px;
    padding-left: 30px;
    width: 100px;
}

.navbar-nav li
{
    padding: 0 10px;
}

.navbar-nav li a
{
    float: right;
    text-align: left;
    color: #000;
}

#nav-bar ul li a:hover
{
    color: #3498db;
}

.navbar
{
    background: #fff;
}

.navbar-toggler
{
    border: none;
}

.nav-link
{
    color: black;
    font-weight: 600;
    font-size: 17px;
    
}

#slider
{
    width: 100%;
    height: 50%;
}




#bottom
{
    padding: 60px;
}

#bottom .btn
{
    border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 40px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
    
}


#bottom .btn:hover
{
    color: white;
    background: #3498db;
    text-decoration-line: none;
}










